name: Build and Run Tests
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Swiftly
        run: |
          curl -O https://download.swift.org/swiftly/linux/swiftly-$(uname -m).tar.gz
          tar zxf swiftly-$(uname -m).tar.gz
          ./swiftly init --quiet-shell-followup --skip-install
      - name: Install Swift 6.2
        run: |
          . /home/runner/.local/share/swiftly/env.sh
          swiftly install --use 6.2
          swift --version
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Build
        run: swift build -v
      - name: Run Tests
        run: swift test -v
